a{
  color: white;
  
}
a:hover{
  color: #999
}
h1{
  text-align: center;
  text-shadow: 2px 2px black;
}
table{
  border-collapse: collapse;
}

.game {
background-color: black;
height: 100vh;
color: white;
display: flex;
}
.console {
background-color: #2B2E4A;
height: 100vh;
width: 10vw;
display: flex;
align-items: stretch;
justify-content: flex-start;
font-size: calc(8px + 1vmin);
flex-direction: column;
position: relative;
}
.collapsed{
  width:4vw;
  font-size: 1vw;
}
.consoleItem {
  margin-top: 4vmin;
  text-align: center;
  position: relative;
  flex-shrink: 1;
  
}

.board {
height:auto
}
.square {
  border: 1px solid #999;
  height: 4vmin;
  padding: 0;
  width: 4vmin;
}
.alive {
  background-color:#E84545;
}
.button{
  display: inline-block;
  background-color:#2B2E4A;
  color: white;
  margin: 2%;  
  border-style: solid;
  border-color: #903749;
  border-radius: 4%;
  position: relative;
  padding: 2% 6%;
  font-size: 1vw;
}
.button:hover{
  background-color:#53354A;
}
.startCircle{
  border-radius: 100%;
  padding: 9% 9%;
  border-color: #903749;
}
.slider{
  width: 9vw;
  background: #903749;
  -webkit-appearance: none;
  border-radius: 10px;
}
.input{
  margin: 3%;
  width:50%;
  background: #53354A;
  border-style: solid;
  border-color: #903749;
  color: white
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup-inner {
  padding: 10px;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 15%;
  bottom: 15%;
  margin: auto ;
  background: #2B2E4A;
}
.popupButton {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 2px;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 100%;
  border-color: #903749;
  padding: unset;
}
.closeButton{
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 6px;
}


.svg{
  height: 3vh;
  vertical-align: middle;
}
.hide{
  display: none;
}

.accordion{
  position: absolute;
  top: 0;
  right: 0;
  border: unset;
  width: 30px;
  height: 30px;
  margin: 0;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .game{
    flex-direction: column;
  }
  .console{
    height: unset;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
  }
  .consoleItem{
    margin: auto;
    width: 24vw;
  }
  .accordion{
    top: unset;
    bottom: 0;
    padding: unset;
  }
  .popupButton{
    bottom: unset;
    top: 0;
  }
  .collapsed{
    width: unset;
    font-size: calc(8px + 1vmin);
  }
  .button{
    font: unset;
  }
  .slider{
    height: 10px;
    width: 12vw;
  }
}
